<%= render 'layouts/base', user: @user, book: @book %>

<h1>Users</h1>
<% @users.each do |user| %>
<p>
  <h4>image</h4>
  <%= attachment_image_tag user, :profile_image %>
</p>
<p>
  <h4>name: <%= user.name %></h4>
</p>
<p>
  <%= link_to 'Show', user_path(user.id) %>
</p>
<% end %>