<%= render 'layouts/base', user: @user, book: @book %>

<div class="col-7 offset-1">
  <!-- ユーザーの紹介した本一覧 -->
  <h3 class="mt-4">Users</h3>
  <table class="table">
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <th><%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "50x50" %></th>
        <th><%= user.name %></th>
        <th><%= link_to 'Show', user_path(user.id) %></th>
      </tr>
    <% end %>
  </table>
</div>