<div class="notice"><%= notice %></div>

<%= render 'layouts/base', user: @user, book: @book %>

<div class="col-8">
  <!-- ユーザーの紹介した本一覧 -->
  <h3>Books</h3>
  <% @books.each do |book| %>
    <div>
      <p>
        title: <%= link_to book.title, book_path(book.id) %><br>
        body: <%= book.body %>
      </p>
    </div>
  <% end %>
</div>