<div class = "notice col-12">
  <%= notice %>
</div>


  <div class="col-6 offset-3">
    <h1 class="col-12 mt-3">welcome to Bookers!!</h1>
    <div class="col-12 m-3">
      In Bookers,<br>
      you can share and exhange your opinions , inpressions , and emotions<br>
      about various books!
    </div>
    <div class="col-10">
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary btn-lg btn-block mx-5 my-3' %>
      <%= link_to "Sign_up", new_user_registration_path, class: 'btn btn-success btn-lg btn-block mx-5 my-3' %>
    </div>
  </div>