<div class = "notice">
  <%= notice %>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center col-12">welcome to Bookers</h1>
    <h4 class="text-left col-12">In Bookers,<br>
        you can share and exhange your opinions , inpressions , and emotions<br>
        about various books!
    </h4>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary btn-lg btn-block mx-5 my-3' %>
  <%= link_to "Sign_up", new_user_registration_path, class: 'btn btn-success btn-lg btn-block mx-5 my-3' %>
  </div>
</div>